# PHPstan config
# see https://phpstan.org/config-reference
# see https://phpstan.org/

parameters:
	level: 6
	paths:
		- app
	ignoreErrors:
		# note: JetBrains PHPstan plugin runs the phpstan
		#       on temporery files that are in a different directory.
		#       e.g. /private/var/folders/dp/829h1n3900s8hf14362v14500000gn/T/PHPStantemp_folder10693/app/App/templates/signUp.php
		#       so we need to add the leading ** to path glob to make it work
		#       see: https://youtrack.jetbrains.com/issue/WI-63891
		-
			message: '#Access to protected property [a-zA-Z0-9\\_]+Presenter::\$[a-zA-Z0-9\\_]+#'
			path: **/templates/*.php
		-
			message: '#Call to protected method (link|isLinkCurrent|getUser|isUserLoggedIn)#'
			path: **/templates/*.php
		-
			message: '#Call to an undefined method Core\\Forms\\Controls\\BaseControl::[a-zA-Z0-9\\_]+#'
			path: **/templates/*.php
		-
			message: '#Parameter \#1 \$control of static method App\\Helpers::renderFormControl\(\) expects Core\\Forms\\Controls\\TextBaseControl, Core\\Forms\\Controls\\BaseControl\|null given\.#'
			path: **/templates/*.php
		-
			message: '#Access to (private|protected) property [a-zA-Z0-9\\_]+::\$[a-zA-Z0-9\\_]+#'
			path: *.template.php

rules:
	# https://github.com/ergebnis/phpstan-rules
	- Ergebnis\PHPStan\Rules\Files\DeclareStrictTypesRule

includes:
	# - vendor/phpstan/phpstan-strict-rules/rules.neon
	# - vendor/phpstan/phpstan-deprecation-rules/rules.neon

# usage notes:
# - To denote that a method returns the same type it’s called on, use PHPDoc `@return $this`.
#	see https://phpstan.org/writing-php-code/phpdoc-types#static-and-%24this
# - Marking a function or a method with PHPDoc `@return never`
#	tells PHPStan the function always throws an exception,
#	or contains a way to end the script execution, like `die()` or `exit()`
#   see https://phpstan.org/writing-php-code/phpdoc-types#bottom-type
