//
// Animations
// --------------------------------------------------

// "Shake" animation
// credits: https://css-tricks.com/snippets/css/shake-css-keyframe-animation/

@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}

@mixin apply-shake-animation($paused: false) {
	@at-root {
		// Note that the media query below is evaluated as:
		// `not (all and (prefers-reduced-motion: reduce))`
		// (i.e. The not keyword inverts the meaning of an entire media query.)
		// See https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries#inverting_a_querys_meaning
		@media not all and (prefers-reduced-motion: reduce) {
			& {
				animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
				transform: translate3d(0, 0, 0);
				@if $paused {
					animation-play-state: paused;
				}
				backface-visibility: hidden;
				perspective: 1000px;
			}
		}
	}
}

.shake {
	@include apply-shake-animation;
}
