//
// Pagination navigation
// --------------------------------------------------

@use "utils";
@use "config" as *;

.pagination {
	display: block;
	margin: 0;
	padding: 0;

	ul, li {
		margin: 0;
		padding: 0;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		padding: 1px 0 0 1px;
	}

	li {
		> * {
			display: block;
			padding: .5rem 1rem;
			text-decoration: none;
			margin: -1px 0 0 -1px;
			border: 1px $gray-lighter solid;
			background-color: $white;
		}

		&.active {
			> * {
				border: 1px $blue solid;
				background-color: $blue;
				color: $white;
			}
		}

		&:not(.disabled):not(.active) {
			> * {
				&:hover, &:focus {
					background-color: $gray-lighter;
				}
			}
		}

		&.disabled {
			pointer-events: none;
		}
	}
}
